* {margin:0 ;padding:0;}

section 
{
    border: 5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.canvas {
    display: block;
    border:1px solid black;
    margin:10px auto 0px;


    
}

#check{
color: blue;
}

#file{
    opacity: 0;
}
a {
    opacity: 0;
}
#box
{
    width:10%;
    height:30px;
    padding:0px;
    color:black;
    position: absolute;
    visibility: hidden;
}